<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kemsky.dipaypokedex">

    <uses-permission android:name="android.permission.INTERNET"/>

<!--        android:allowBackup="true"-->
    <application
        android:name=".PokeApplication"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.DipayPokeDex"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.detailpokemon.DetailActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
            android:exported="false">
        </activity>
    </application>

</manifest>